.row {
    padding-bottom: 7px;
}

.card {
    padding: 10px;
}

.text-design{
    font-weight: 900;
}

.fl{
    font-size: larger;
    padding-right: 5px;
}

.pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
}

.pagination-controls span {
    font-weight: bold;
}

